<!DOCTYPE html>
<html>
    <head>
        <title>Student List</title>
    </head>
    <body>
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>

        <h1>Student List</h1>
        <table style="width:100%">
            <tr>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Fecha de Nacimiento</th>
                <th>Matrícula</th>
            </tr>
            {% for student in students %}
            <tr>
                <td>{{ student.nombre }}</td>
                <td>{{ student.apellido_paterno }}</td>
                <td>{{ student.apellido_materno }}</td>
                <td>{{ student.fecha_nacimiento }}</td>
                <td>{{ student.matricula }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="/new_student">Add New Student</a>
    </body>
</html>